body.dark{
    background-color: black;
}

.dark .link {
    stroke: #00BFFF;
}

.dark .linkVisited {
    stroke : blueviolet;
}

.dark .node text {
    font-family : arial, Sans-Serif;
    font: arial 12px bold;
    fill: #fff;
}

.dark .inNode {
    stroke : gray;
}

.dark .nodeVisited .inNode {
    fill : blueviolet;
}

.dark .popOut {
    stroke: white;
}

.dark #clock{
    color: #fff;
    background-color: black;
}
